<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
<div id='wrapper' style="width:400px; height: 600px; margin:75px; background-color:yellow">

  <div id="my-widget"></div>
  <script src="<%= root_url %>widget.js" type="text/javascript"></script>

</div>
</body>
</html>
