<!DOCTYPE html>
<html>
<head>
  <title>My Widget</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <% stylesheet_link_tag 'widgets', media: 'all' %> <!-- Have custom CSS? -->
</head>
<body>
  <%= yield %>
</body>
</html>
